*
{
  font-family: 'Nunito', sans-serif;
 
}
body
{
  background-color:#F5BCBA;
}
.innerdiv img{
  width:100px;
  height: 100px;
}
.maindiv
{
  display: flex;
  justify-content: space-around;
  background-color: #EA7773;
  margin: 60px;
  border-radius: 30px;
}
 .maindiv h1
{
  color:#AE1438;
  font-size: 30px;
  
}